/* Background */
body {
  background: linear-gradient(to bottom, #e0f7ff 0%, #c2e9fb 100%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
}


.navbar-brand {
  margin-left: 50px; /* bạn có thể tăng số px nếu cần */
}

.navbar .nav-link {
  margin-right: 55px; 
}

/* Box*/
.card {
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  background-color: rgba(255, 255, 255, 0.95);
}

/* Button */
button {
  border-radius: 10px !important;
  font-size: 13px;
  padding: 6px 12px;
}

#inputText, #output {
  font-size: 13px;
}

/* Output box */
#output {
  white-space: pre-wrap;
  word-wrap: break-word;
}


#historyTable {
  font-size: 12px;
}

/* Standard square-box */
.square-box {
  width: 100%;
  min-height: 250px;
}

/* Key points */
.highlight {
  font-weight: bold;
  color: black;
}

/* Multiple choice questions */
.bold-question {
  font-weight: bold;
  margin-top: 8px;
}

.correct-answer {
  color: green;
  font-weight: bold;
}

/* Snowflakes */
.snowflake {
  position: fixed;
  top: -10px;
  color: white;
  font-size: 10px;
  user-select: none;
  pointer-events: none;
  z-index: 9999;
  opacity: 0.8;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes fall {
  0% { transform: translateY(0) rotate(0deg); }
  100% { transform: translateY(100vh) rotate(360deg); }
}
